version: "3.6"
networks:
    {{DEV_NAMESPACE}}:
        name: {{DEV_NAMESPACE}}_default
services:
    nginx_main:
        build:
            args:
                NGINX_VERSION: ${NGINX_VERSION}
            context: "${DEV_SUITE_BASE}/build/nginx"
        container_name: {{DEV_NAMESPACE}}_nginx_main
        volumes:
            - "./shared:/shared"
            - "./etc/nginx:/etc/nginx/conf.d"
            - "./etc/ssl:/etc/ssl"
            - "${WWW_DIR}:/var/www/html"
            - "${NGINX_LOG_DIR}:/var/log/nginx"
        ports:
            - "${NGINX_HTTP_EXPOSING_PORT}:80"
            - "${NGINX_HTTPS_EXPOSING_PORT}:443"
        environment:
            NGINX_HOST:
        networks:
            - {{DEV_NAMESPACE}}
        depends_on:
            - php72_fpm
    php72_fpm:
        build:
            context: "${DEV_SUITE_BASE}/build/php72-fpm"
        container_name: {{DEV_NAMESPACE}}_php72_fpm
        volumes:
            - "./shared:/shared"
            - "${WWW_DIR}:/var/www/html"
            - "./build/php72-fpm/php-custom.ini:/etc/php/7.2/fpm/conf.d/php-custom.ini"
        environment:
            - PHP_UPLOAD_MAX_FILEZISE
            - PHP_POST_MAX_SIZE
            - PHP_MEMORY_LIMIT
            - PHP_MAX_EXECUTION_TIME
            - PHP_MAX_INPUT_TIME
        networks:
            - {{DEV_NAMESPACE}}
    php72_cli:
        build:
            context: "${DEV_SUITE_BASE}/build/php72-cli"
        container_name: {{DEV_NAMESPACE}}_php72_cli
        networks:
            - {{DEV_NAMESPACE}}
#    php_latest_fpm:
#        build:
#            context: "${DEV_SUITE_BASE}/build/php-latest-fpm"
#        container_name: {{DEV_NAMESPACE}}_php74_fpm
#        volumes:
#            - "./shared:/shared"
#            - "${WWW_DIR}:/var/www/html"
#        environment:
#            - PHP_UPLOAD_MAX_FILEZISE
#            - PHP_POST_MAX_SIZE
#            - PHP_MEMORY_LIMIT
#            - PHP_MAX_EXECUTION_TIME
#            - PHP_MAX_INPUT_TIME
#        networks:
#            - {{DEV_NAMESPACE}}
#    php_latest_cli:
#        build:
#            context: "${DEV_SUITE_BASE}/build/php-latest-cli"
#        container_name: {{DEV_NAMESPACE}}_php_latest_cli
#        networks:
#            - {{DEV_NAMESPACE}}
    mysql57:
        build:
            context: "${DEV_SUITE_BASE}/build/mysql57"
        container_name: {{DEV_NAMESPACE}}_mysql57
        environment:
            - MYSQL_DATABASE=${MYSQL57_DATABASE}
            - MYSQL_ROOT_PASSWORD=${MYSQL57_ROOT_PASSWORD}
            - MYSQL_USER=${MYSQL57_USER}
            - MYSQL_PASSWORD=${MYSQL57_PASSWORD}
        volumes:
            - "./shared:/shared"
            - type: volume
              source: mysql57-data
              target: /var/lib/mysql
        ports:
            - "${MYSQL57_EXPOSING_PORT}:3306"
        networks:
            - {{DEV_NAMESPACE}}
#    mysql57_slave:
#        build:
#            context: "${DEV_SUITE_BASE}/build/mysql57"
#        container_name: {{DEV_NAMESPACE}}_mysql57_slave
#        environment:
#            - MYSQL_DATABASE=${MYSQL57_DATABASE}
#            - MYSQL_ROOT_PASSWORD=${MYSQL57_ROOT_PASSWORD}
#            - MYSQL_USER=${MYSQL57_SLAVE_USER}
#            - MYSQL_PASSWORD=${MYSQL57_SLAVE_PASSWORD}
#        volumes:
#            - "./shared:/shared"
#        ports:
#            - "${MYSQL57_SLAVE_EXPOSING_PORT}:3306"
#        networks:
#            - {{DEV_NAMESPACE}}
#    mysql80:
#        build:
#            context: "${DEV_SUITE_BASE}/build/mysql80"
#        container_name: {{DEV_NAMESPACE}}_mysql80
#        environment:
#            - MYSQL_DATABASE=${MYSQL80_DATABASE}
#            - MYSQL_ROOT_PASSWORD=${MYSQL80_ROOT_PASSWORD}
#            - MYSQL_USER=${MYSQL80_USER}
#            - MYSQL_PASSWORD=${MYSQL80_PASSWORD}
#        volumes:
#            - "./shared:/shared"
#            - type: volume
#              source: mysql80-data
#              target: /var/lib/mysql
#        ports:
#            - "${MYSQL80_EXPOSING_PORT}:3306"
#        networks:
#            - {{DEV_NAMESPACE}}
#    mysql80_slave:
#        build:
#            context: "${DEV_SUITE_BASE}/build/mysql80"
#        container_name: {{DEV_NAMESPACE}}_mysql80_slave
#        environment:
#            - MYSQL_DATABASE=${MYSQL80_DATABASE}
#            - MYSQL_ROOT_PASSWORD=${MYSQL80_ROOT_PASSWORD}
#            - MYSQL_USER=${MYSQL80_USER}
#            - MYSQL_PASSWORD=${MYSQL80_PASSWORD}
#        volumes:
#            - "./shared:/shared"
#        ports:
#            - "${MYSQL80_SLAVE_EXPOSING_PORT}:3306"
#        networks:
#            - {{DEV_NAMESPACE}}
    phpmyadmin:
        build:
            context: "./build/phpmyadmin"
        container_name: {{DEV_NAMESPACE}}_phpmyadmin
        ports:
            - "${PHPMYADMIN_WEB_EXPOSING_PORT}:80"
        environment:
            - PMA_ARBITRARY=1
            - UPLOAD_LIMIT=512MB
        networks:
            - {{DEV_NAMESPACE}}
#    phpmyadmin_slave:
#        build:
#            context: "./build/phpmyadmin"
#        container_name: {{DEV_NAMESPACE}}_phpmyadmin_slave
#        ports:
#            - "${PHPMYADMIN_SLAVE_WEB_EXPOSING_PORT}:80"
#        environment:
#            - PMA_ARBITRARY=1
#            - UPLOAD_LIMIT=512MB
#        networks:
#            - {{DEV_NAMESPACE}}
    ## For SSDB (redis like)
#    ssdb:
#        build:
#            context: "./build/ssdb"
#        networks:
#            - {{DEV_NAMESPACE}}
#    phpssdbadmin:
#        build:
#            context: "./build/phpssdbadmin"
#        ports:
#            - "${PHPSSDBADMIN_WEB_EXPOSING_PORT}:80"
#        networks:
#            - {{DEV_NAMESPACE}}
    ## For Redis
    redis:
        build:
            context: "./build/redis"
        ports:
            - "${REDIS_EXPOSING_PORT}:6379"
        networks:
            - {{DEV_NAMESPACE}}
    phpredisadmin:
        build:
            context: "./build/phpredisadmin"
        ports:
            - "${PHPREDISADMIN_WEB_EXPOSING_PORT}:80"
        links:
            - redis
        environment:
            - ADMIN_USER=${REDIS_ADMIN_USER}
            - ADMIN_PASS=${REDIS_ADMIN_PASS}
            - REDIS_1_HOST=redis
            - REDIS_1_PORT=6379
        networks:
            - {{DEV_NAMESPACE}}
volumes:
    mysql57-data:
        driver: local
    mysql80-data:
        driver: local
